<div class="modal fade" id="add" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">@ConfirmMessage</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (!ShowSuccessMessage)
                {
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="AddItem1">Picture Url</span>
                        <input type="text" class="form-control" placeholder="Add Picture URL" @bind="@NewProduct!.PictureUrl" aria-label="Add Picture URL" aria-describedby="addon-wrapping">
                    </div>
                    <div class="mb-3">
                        <p>Select Car Model</p>
                        <select class="form-select" @bind="SelectedModelId" aria-label="Default select example">
                            @foreach (var model in Service!.Models)
                            {
                                if (NewProduct.ModelId != model.Id)
                                {
                                    <option value="@model.Id">@model.ModelName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <p>Select Car Brand</p>
                        <select class="form-select" @bind="SelectedBrandId" aria-label="Default select example">
                            @foreach (var brand in Service!.Brands)
                            {
                                if (NewProduct.BrandId != brand.Id)
                                {
                                    <option value="@brand.Id">@brand.BrandName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="AddItem2">Year</span>
                        <input type="text" class="form-control" placeholder="Add Year" @bind="@NewProduct.Year" aria-label="Add Year" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="AddItem3">Description</span>
                        <input type="text" class="form-control" placeholder="Add Description" @bind="@NewProduct.Description" aria-label="Add Description" aria-describedby="addon-wrapping">
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        Product Added successfully! Please reload page to see new Product.
                    </div>
                }
            </div>
            <div class="modal-footer">
                @if (!ShowSuccessMessage)
                {
                    <button type="button" class="btn btn-primary" @onclick="() => AddProduct()">ADD</button>
                }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Service")] public UIAdminService? Service { get; set; }


    public string? ConfirmMessage { get; set; }
    public CarPostDTO? NewProduct { get; set; }
    public bool ShowSuccessMessage { get; set; }

    public EventCallback<CarPostDTO> OnProductSelected { get; set; }
    [Parameter]
    public EventCallback<CarPostDTO> ProductAdded { get; set; }

    private int SelectedModelId { get; set; } = 0;
    private int SelectedBrandId { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        NewProduct = NewProduct ?? new CarPostDTO();
        if (Service is not null)
        {
            await Service.GetModelsAsync();
            await Service.GetBrandsAsync();
        }
    }

    private async Task AddProduct()
    {
        if (NewProduct != null)
        {
            if (SelectedModelId != 0)
            {
                NewProduct!.ModelId = SelectedModelId;
            }
            if (SelectedBrandId != 0)
            {
                NewProduct!.BrandId = SelectedBrandId;
            }

            await Service!.AddProductAsync(NewProduct);
            ShowSuccessMessage = true;
            //await ProductAdded.InvokeAsync();
            NewProduct = null; // Reset after deletion
            StateHasChanged(); // Ensure the component re-renders to show the success message
        }
    }

    public async Task ShowAddConfirmation()
    {
        ShowSuccessMessage = false;
        ConfirmMessage = "Add a Product";
        await OnProductSelected.InvokeAsync();
        StateHasChanged(); // Add this line
    }
}
